setuptools
typing_extensions
distro

numpy==1.23.3
scipy>=1.7.0

joblib
scikit-learn

dask>=2021.12
distributed>=2012.12
pyyaml
pandas>=1.0
liac-arff
threadpoolctl
tqdm

ConfigSpace>=0.4.21,<0.5
pynisher>=0.6.3,<0.7
pyrfr>=0.8.1,<0.9
smac==1.1.1

pipelineprofiler
aif360
shapely